@font-face{
    font-family: 'Amethysta';
    font-weight: 400;
    src: url('../assets/fonts/Amethysta.ttf') format("TrueType"), url('../assets/fonts/Amethysta.woff') format("WOFF"), url('../assets/fonts/Amethysta.woff2') format("WOFF2"), url('../assets/fonts/Amethysta.svg') format("SVG"), url('../assets/fonts/Amethysta.eot') format("EOT");
}

@font-face{
    font-family: 'Libre Franklin';
    font-weight: 400;
    src: url('../assets/fonts/LibreFranklin.ttf') format("TrueType"), url('../assets/fonts/LibreFranklin.woff') format("WOFF"), url('../assets/fonts/LibreFranklin.woff2') format("WOFF2"), url('../assets/fonts/LibreFranklin.svg') format("SVG"), url('../assets/fonts/LibreFranklin.eot') format("EOT");
}