.header{
    background-color:#229eb6;
    position:relative;
    min-height:270px;

    .logo{
        padding: 30px 0;
        display: block;
        width: 100%;

        img {
            display: table;
            margin: 0 auto;
        }
    }

    .filtros {
        &--content{
            background-color: #FFF;
        }

        &--list{
            -webkit-box-align: center;
            -webkit-box-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            display: -webkit-box;
            display: -ms-flexbox;
            align-items: center;
            display: flex;
            
            [data-action] {
                text-transform: capitalize;
                font-weight: bold;
                padding: 5px 10px;
                cursor: pointer;
                
                p{
                    transition: 0.3s all;
                    line-height: 17px;
                    font-size: 18px;
                    display: table;
                    color: #555;
                }

                &:not(:first-child){
                    border-left: 1px solid #229eb6;
                }

                &:hover{
                    p{
                        color: #229eb6;
                    }
                }
            }
        }

        &::before {
            background-image: url('../assets/img/separador.png');
            background-repeat-y: no-repeat;
            background-position-y: bottom;
            background-repeat-x: repeat;
            background-size: contain;
            margin-bottom: 0px;
            display: block;
            height: 40px;
            content: "";
            width: 100%;
        }
        
        &::after {
            background-image: url('../assets/img/separador.png');
            background-repeat-y: no-repeat;
            background-position-y: bottom;
            background-repeat-x: repeat;
            transform: rotate(180deg);
            background-size: contain;
            margin-top: 0px;
            display: block;
            height: 40px;
            content: "";
            width: 100%;
        }
    }
}