@import './components/reset.scss';
@import './components/grid.scss';
@import './components/font.scss';

@import './components/header.scss';
@import './components/footer.scss';
@import './components/cupom.scss';
@import './components/modal.scss';

main{
  min-height: calc(100vh - 362px);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}